In [4]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://pypicloud.optoro.io/pypi
Requirement already satisfied: tabula-py in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (1.2.0)
Requirement already satisfied: numpy in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (from tabula-py) (1.13.3)
Requirement already satisfied: pandas in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (from tabula-py) (0.20.2)
Requirement already satisfied: requests in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (from tabula-py) (2.9.1)
Requirement already satisfied: distro in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (from tabula-py) (1.3.0)
Requirement already satisfied: pytz>=2011k in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (from pandas->tabula-py) (2017.3)
Requirement already satisfied: python-dateutil>=2 in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (from pandas->tabula-py) (2.7.0)
Requirement already satisfied: six>=1.5 in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (from python-dateutil>=2->pandas->tabula-py) (1.11.0)
airflow 1.8.0 has requirement jinja2<2.9.0,>=2.7.3, but you'll have jinja2 2.10 which is incompatible.
bleach 2.1.3 has requirement html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre, but you'll have html5lib 1.0b8 which is incompatible.
smart-open 1.3.2 has requirement requests==2.8.1, but you'll have requests 2.9.1 which is incompatible.

In [28]:
!pip install pygeocoder

Looking in indexes: https://pypi.org/simple, https://pypicloud.optoro.io/pypi
Collecting pygeocoder
  Downloading https://files.pythonhosted.org/packages/3b/79/2cf3a4dfe54705bbf07cbb25940078dfa595608aa4ecb9f0aaaae9faba08/pygeocoder-1.2.5.tar.gz
Requirement already satisfied: requests>=1.0 in /Users/tterry/.pyenv/versions/3.5.1/lib/python3.5/site-packages (from pygeocoder) (2.9.1)
Building wheels for collected packages: pygeocoder
  Running setup.py bdist_wheel for pygeocoder ... done
  Stored in directory: /Users/tterry/Library/Caches/pip/wheels/7c/4c/00/d05c66c4af5411c554c91b8079732c8a0359c2226fb8c01031
Successfully built pygeocoder
smart-open 1.3.2 has requirement requests==2.8.1, but you'll have requests 2.9.1 which is incompatible.
airflow 1.8.0 has requirement jinja2<2.9.0,>=2.7.3, but you'll have jinja2 2.10 which is incompatible.
bleach 2.1.3 has requirement html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre, but you'll have html5lib 1.0b8 which is incompatible.
Installing collected packages: pygeocoder
Successfully installed pygeocoder-1.2.5

In [6]:
!ls

DCRA Determination Letter for FOIA Request #2018-FOIA-03417 (Code for DC).pdf
Untitled.ipynb
Untitled.py
Untitled.txt
Vacant Buildings  as of February 7 2018.pdf
Vacant_Exempt.pdf

In [2]:
from tabula import read_pdf
from pygeocoder import Geocoder

In [5]:
page_one_data = read_pdf('../Vacant Buildings  as of February 7 2018.pdf')

In [6]:
# manually confirmed that page 1 has 42 rows plus header
# another one I checked has 43
page_one_data.shape

(42, 6)

In [7]:
# the file is 23 pages
42*23

966

In [8]:
all_data = read_pdf('../Vacant Buildings  as of February 7 2018.pdf', pages='all')

In [9]:
# 981 seems about right
all_data.shape

(981, 6)

In [10]:
all_data.head().T

                           0          1          2          3          4
WARD                       1          1          1          1          1
STREET NUMBER           2002       2002       2001        982       2014
STREET NAME             11TH       11TH       11TH    FLORIDA        9TH
STREET TYPE               ST         ST         ST        AVE         ST
QUADRANT                  NW         NW         NW         NW         NW
SQUARE SUFFIX LOT  0304 0027  0304 0825  0332 0080  0357 0098  0360 0078

In [11]:
all_data.columns = [c.replace(' ', '_').lower() for c in all_data.columns]

In [12]:
all_data.ward.value_counts()

7       273
8       171
5       165
4       110
1        91
6        86
2        35
3        28
WARD     22
Name: ward, dtype: int64

In [16]:
all_data = all_data[all_data.ward != 'WARD']

In [17]:
all_data.shape

(959, 6)

# Let's Geocode these Addresses

Good intro at https://chrisalbon.com/python/data_wrangling/geocoding_and_reverse_geocoding/